$mobile: 375px;
$tablet: 768px;
$desktop: 1000px;
$wdesktop: 1200px;

$backgoundColor : #FFFFFF;
$mainColor: #0A0A0A;
$mainColor2: #000000;
$secondaryColor: #A1A1A1;
$secondaryColor2: #B1B1B1;
$secondaryColor3: #767677;
$placeholderColor: #C0C0C0;
$viberColor: #9B51E0;
$telegramColor: #0088CC;
$containerColor: #EDEDED;
$containerColor2: #F6F6F6;
$containerColor3: #D9D9D9;
$buttonColor: #FCC746;
$priceColor: #D1372B;
$borderColor: #E6E6E6;